<ul class ="list-unstyled">
    @foreach (var product in Products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@product.ImageURL" alt="@product.Title"/>
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@product.Title</h4>
                    <p>@product.Description</p>
                    <h5 class="price">
                        R @product.Price
                    </h5>
                </a>
            </div>
        </li>
    }
</ul>

@code {
    private static List<Product> Products = new List<Product>
    {
        new Product()
        {
            Id  =   1,
            Title = "Game 1",
            Description = "The first game",
            Price = 1.0m,
            ImageURL = "images/3.png"

        },
         new Product()
        {
            Id  =   2,
            Title = "Game 2",
            Description = "The second game",
            Price = 2.0m,
            ImageURL = "images/4.png"

        },
         new Product()
        {
            Id  =   3,
            Title = "Game 3",
            Description = "the third game",
            Price = 3.0m,
            ImageURL = "images/3.png"

        },
         new Product()
        {
            Id  =   4,
            Title = "Game 4",
            Description = "The fourth game",
            Price = 4.0m,
            ImageURL = "images/4.png"

        },
    };


}
